<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.library.utils" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application>
        <service android:name=".service.DownLoadService"/>
        <service android:name=".service.MusicService"/>
    </application>
</manifest>
